:root{
    --font-size:25px;
    --primary-color:white;
    --secondary-color:linear-gradient(30deg,orange,20%,#eb8f34,60%,orange);
    --font-color:#000;
    --font-family:Georgia|"Times New Roman"|serif| sans-serif;
}

.nav-div{
height:40px;
background: var(--secondary-color);
display: grid;
grid-template-columns: repeat(6,180px);
font-family: var(--font-family);
}

.navbar-link.active:not(.navbar-link:nth-child(1))::after{
    content: " ";
    display: block;
    margin-top: 2px;
    background: black;
    padding: 0;
    width: 90px;
    height: 1px;
    margin-top: -1px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 45px;
    z-index: 0;
    
}
.navbar-link{
    text-align: center;
    left: 29rem;
    z-index: 1;
/*    border:2px solid red;
*/color: var(--font-color);
font-size: var(--font-size);
text-decoration: none;
position: relative;
margin-bottom: 0;
}

.navbar-link:nth-child(1){
margin-left: -29rem;
text-align: left;
}
.navbar-link.active:not(.navbar-link:nth-child(1)){
color: white ;
font-size: 29px;
transition: 0.5s ease-out;
}


    @media only screen and (max-width: 1360px) {
        .nav-div{
            height:38px;
            background: var(--secondary-color);
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(6,50px,100px);
            font-family: var(--font-family);
            }
            
            .navbar-link{
                
                text-align: center;
            color: var(--font-color);
            font-size: var(--font-size);
            text-decoration: none;
            position: relative;
            margin-bottom: 0;
            left: 18rem;
            }
            .navbar-link:nth-child(1){
                left: 0;
                margin-left: 0;
            
            }

            .navbar-link.active{
            color: white;
            font-size: 27px;
            transition: 0.5s ease-out;
            font-style: serif;
            }
            


        }    
        @media only screen and (max-width: 1170px) {
            .navbar-link{
            left: 12rem;
            }
         
        }

        @media only screen and (max-width: 1090px) {
            .navbar-link{
            left: 9rem;
            }
         
        }
        @media only screen and (max-width: 1040px) {
            .navbar-link{
            left: 5rem;
            }
         
        }

        @media only screen and (max-width: 970px) {
            .nav-div{
                height:38px;
                background: var(--secondary-color);
                
                display: grid;
                grid-template-columns: auto;
                font-family: var(--font-family);
                }
                .btn-check{
                    margin-right: 10px;
                    display: inline;
                    width: 35px;
                    padding-left: 3px;
                    height: 30px;
                    margin-top: 2px;
                    cursor: pointer;
                   /* border: 2px solid blue;
                    */align-content: center;       
                }
                .btn-check input[type=checkbox]{
                    height: 30px;
                    width: 30px;
                    z-index: 10;
                    cursor: pointer;
                    margin-top: -15px;
                   /* border: 2px solid blue;
                    */opacity: 0;
                    
                }
                

                .btn-check span{
                    width: 32px;
                    margin-top: 6px;
                    display: block;
                    background-color:black;
                    height: 3px;
                    z-index:9;
                    transition-duration: .5s;
            
                }
                
                .navbar-link{
                    transition-duration: 1s ;
                    transition-timing-function: ease-in-out;
                    text-align: center;
                    color: var(--font-color);
                    font-size: var(--font-size);
                    position: fixed;
                    padding: 10px;
                    position:sticky;

                    color: white;
                    margin-top: 5px;
                    text-decoration: none;
                    position: relative;
                    left: 0;
                    top:38px ;
                    margin-top: -4px;
                    top: -1000px;

                }
                .navbar-link.active:not(.navbar-link:nth-child(1))::after{
                    content: "";
                    display: block;
                    margin-top: 2px;
                    background:black;
                    padding: 0;
                    width: inherit;
                   background:linear-gradient(180deg,orange,red);
                    height: 2px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 80%;
                    z-index: 0;
                    margin-left: 0;                    
                }
                
                .navbar-link.active:not(.navbar-link:nth-child(1)){
                    color: gray ;
                    font-size: 29px;
                    transition: 0.5s ease-out;
                    height: 40px;
                    }
                    
                    
                .navbar-link:nth-child(1){
                    text-align: center;
                    
                }
         
                     
        }

